﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    10931 Waterpoint Dr<br />
    Allendale, MI 49401<br />
    <abbr title="Phone">P:</abbr>
    616.730.2239
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:mike.d.webb@gmail.com">mike.d.webb@gmail.com</a><br />
</address>