﻿@{
    ViewBag.Title = "DF Studio Web Home";
}

<div class="jumbotron">
    <h1>Dark Forces Studio Web</h1>
    <p class="lead">Welcome to the website for Dark Forces Studio. Use the menu above for navigation.</p>
</div>
