﻿@model DFStudioData.Models.Lev

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<div id="dfstudioweb">
    <canvas id="levCanvas" width="600" height="500" style="margin: 20px;"></canvas>
</div>

@section scripts {
@Scripts.Render("~/bundles/jquery-ui")
@Scripts.Render("~/bundles/backbone")
<script type="text/javascript" src="~/Scripts/levcanvas.js"></script>
<script type="text/javascript" src="~/Scripts/models/sector.js"></script>
<script type="text/javascript" src="~/Scripts/models/lev.js"></script>
<script type="text/javascript" src="~/Scripts/editMode-sector.js"></script>
<script type="text/javascript" src="~/Scripts/views/editView.js"></script>
<script type="text/javascript">
    $(function () {
        var view = new app.EditView();
        view.loadLevelGeometry(@Model.ID);
    });
</script>
}