﻿@model IEnumerable<DFStudioData.Models.Lev>

@{
    ViewBag.Title = "Project Levels";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "NewLevel")
</p>

@foreach (var item in Model) {
    Html.RenderPartial("LevelPartialView", item);
}

@Html.Partial(
    "DialogConfirmPartial",
    new DFStudioWebMVC.Models.DialogArgs {
        Title = "Delete Level",
        Message = "Sorry. Delete not implemented yet."
    }
)
