﻿@model DFStudioData.Models.Lev

<div class="raised">
    <h4>Level: @Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pallate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pallate)
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id=Model.ID }, new { data_toggle = "modal", data_target = "#modalDialog" })
    </p>
</div>
