﻿@model IEnumerable<DFStudioData.Models.Project>

@{
    ViewBag.Title = "Projects";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "NewProject")
</p>

@foreach (var item in Model) {
    Html.RenderPartial("ProjectPartialView", item);
}

@Html.Partial(
    "DialogConfirmPartial",
    new DFStudioWebMVC.Models.DialogArgs {
        Title = "Delete Project",
        Message = "Sorry. Delete not implemented yet."
    }
)