﻿@model DFStudioData.Models.Project

<div class="raised">
    <h4>Project: @Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
        @Html.ActionLink("Levels", "Index", "Level", new { projectId=Model.ID }, null) |
        @Html.ActionLink("Delete", "Delete", new { id=Model.ID }, new { data_toggle = "modal", data_target = "#modalDialog" } )
    </p>
</div>
